<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIANT_BOMB_API_KEY</key>
	<string>${GIANT_BOMB_API_KEY}</string>
	<key>DISCORD_WEBHOOK</key>
	<string>https://${DISCORD_WEBHOOK}</string>
	<key>DISCORD_ID</key>
	<string>${DISCORD_ID}</string>
</dict>
</plist>
