<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tequila.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B219EFC62CFB7CEE00D727DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B219EFD72CFB7CF100D727DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B219EFE12CFB7CF100D727DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
